@model IEnumerable<Web.Areas.Admin.ViewModels.ExamVM.ListExamVM>

@{
    ViewBag.Title = "Danh sách bài thi";
}




<div class="row">
    <div class="col-lg-12">
        <div id="customerList">
            <div class="card">
                <div class="card-body">
                    <div class="row g-4 mb-3">

                        @if (User.IsInPermission(AuthConst.AppExam.CREATE))
                        {
                            <div class="col-sm-auto">
                                <div>
                                    <a class="btn btn-primary" asp-action="CreateExam" asp-controller="Exam" asp-area="Admin">
                                        <i class="ri-add-line align-bottom me-1"></i> TẠO BÀI THI
                                    </a>

                                </div>
                            </div>
                        }

                        <div class="col-sm">
                            <div class="d-flex justify-content-sm-end">
                                <div class="search-box ms-2">
                                    <input type="text" class="form-control search"
                                           placeholder="Search...">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="card">
                    <div class="row">
                        <div class="col-md-12">
                            @if (item.IsStatus == 1)
                            {
                                <button class="btn btn-sm btn-soft-warning rounded-pill px-3 ms-3 mt-3">Chưa mở</button>
                                <a class="btn btn-sm btn-soft-primary rounded-pill px-3 ms-3 mt-3"
                                    asp-controller="Exam" asp-action="OpenExam" asp-area="Admin" asp-route-id="@item.Id">
                                    Mở bài thi
                                </a>
                            }
                            else if(item.IsStatus == 2)
                            {
                                <button class="btn btn-sm btn-soft-success rounded-pill px-3 ms-3 mt-3">Đang mở</button>
                            }
                            else if(item.IsStatus == 3)
                            {
                                <button class="btn btn-sm btn-soft-danger rounded-pill px-3 ms-3 mt-3">Hết hạn</button>
                            }
                            <div class="block block-rounded block-fx-pop mb-2">
                                <div class="block-content block-content-full border-start border-3 border-@item.TextColor">
                                    <div class="d-md-flex justify-content-md-between align-items-md-center">
                                        <div class="p-1 p-md-3">
                                            <h3 class="h4 fw-bold mb-3">
                                                <a asp-action="Detail" asp-controller="Exam" class="text-dark link-fx">@item.Title</a>
                                            </h3>
                                            <p class="text-muted mb-2 text-dark">
                                                <i class="las la-layer-group me-1"></i>
                                                Giao cho học phần
                                                <strong style="cursor:pointer">
                                                    @item.ListGroup
                                                </strong>
                                            </p>
                                            <p class="text-muted mb-0">

                                                <i class="la la-clock me-1"></i> Diễn ra từ <span>@item.TimeStart.ToDMYHM()</span> đến
                                                <span>@item.TimeEnd.ToDMYHM()</span>
                                            </p>
                                        </div>

                                        <div class="p-1 p-md-3">
                                            <a class="btn btn-soft-success rounded-pill px-3 me-1 my-1"
                                               asp-action="DetailExam" asp-controller="Exam" asp-area="Admin" asp-route-id="@item.Id">
                                                <i class="las la-eye opacity-50 me-1"></i> Xem chi tiết
                                            </a>
                                            @if (User.IsInPermission(AuthConst.AppExam.UPDATE))
                                            {
                                                <a class="btn btn-soft-primary rounded-pill px-3 me-1 my-1"
                                                   asp-action="EditExam" asp-controller="Exam" asp-area="Admin" asp-route-id="@item.Id">
                                                    <i class="la la-wrench opacity-50 me-1"></i> Chỉnh sửa
                                                </a>
                                            }
                                            @if (User.IsInPermission(AuthConst.AppExam.DELETE))
                                            {
                                                <a class="btn btn-soft-danger rounded-pill px-3 my-1 btn-delete"
                                                   asp-action="DeleteExam" asp-controller="Exam" asp-area="Admin" asp-route-id="@item.Id"
                                                   data-id=@item.Id>
                                                    <i class="la la-times opacity-50 me-1"></i> Xoá đề
                                                </a>
                                            }
                                            @if (!item.IsAuto)
                                            {
                                                <a class="btn btn-soft-info rounded-pill px-3 my-1"
                                                   asp-action="AddManualExam" asp-controller="Exam" asp-area="Admin" asp-route-id="@item.Id">
                                                    <i class="la la-question opacity-50 me-1"></i> Tạo câu hỏi
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <partial name="_pagedList"/>

        </div>

    </div>
</div>




